@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

* {
    font-family: 'Exo 2', sans-serif;
    margin: 0px;
	padding: 0px;
}

a {
    text-decoration: none;
}

/* Index */

.quote-text{
    text-align: center;
    margin: 0px;
    text-shadow: 2.5px 2.5px #333;
}

.quote-text.style1{
    font-size: 30px;
}

.quote-text.style2{
    font-size: 20px;
    color: rgb(216, 200, 22);
}

/* News */

h1.text-white.align-middle{
    text-align: center;
}

.news p{
    font-size: 0.9rem;
    text-align: justify;
}