footer{
    display: block;
    background-color: var(--background-color-black);
    color: var(--text-color-dark);
    align-items: center;
}

footer .socialMedia{
    display: flex;
    gap: 2em;
    padding-right: 2em;
}