@import url(header.css);
@import url(body.css);
@import url(footer.css);

#portada{
    background-image: 
    linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3617822128851541) 35%, rgba(0,212,255,0) 100%),
    url(../../assets/images/portada.jpg);
    background-size: cover;
    background-position-x: center;
    height: 65vh;
    width: 100%;
    margin: 0;
}

#news{
    padding: 0;
    border: 0;
    height: 80vh;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(#000, #222);
}

#album{
    padding: 0.5em;
    border: 0;
    height: 80vh;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(#333, #888);
}